<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css">
</head>
<body>
<h3>New Article</h3>
<form action="/new" method="post">
    <div class="form-group">
        <label>Title</label>
        <input type="text" name="title" class="form-control">
    </div>
    <div class="form-group">
        <label>Category</label>
        <input type="text" name="category" class="form-control">
    </div>
    <div class="form-group">
        <label>Author</label>
        <input type="text" name="author" class="form-control">
    </div>
    <div class="form-group">
        <label>Content</label>
        <textarea name="content" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label>Date</label>
        <input type="date" name="published_date" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>


</form>
</body>
</html>