body {
    background-image: url("../static/images/bg.jpg");
    background-attachment: fixed;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    margin: 0;
    padding: 20px 0;
}

h1{
    font-size: xx-large;
}

.container{
    background-color: white;
    width: 40%;
   justify-items: center;
    margin-top: 100px;
}
.custom-tab{
    border: white;
    background-color: white;
    padding: 8px 16px;
    font-size: 19px;
}
.active-tab, .active-tab:hover{
    border-bottom: 4px solid #0d6efd;
     opacity:1 !important ;
}

#length,#weight, #temp, #unit_from, #unit_to{
    width: 500px;
}
#convert_btn{
    margin-bottom: 20px;
    margin-left:40%;
}


.select-measurement{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-items: center;
    font-size: x-large;
}

.result-text{
    font-size: x-large;
    font-weight: bold;
    margin-top: 3rem;
}

