body{
    background-image: url("images/backgrou.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

}

.container{
      width: 350px;
    padding: 30px 25px;
    margin: 150px auto;

     background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.3);
    text-align: center;
}
